.photo-grid {
    max-width: 1184px;
    padding-bottom: 92px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
}

@media screen and (min-width:1024px) and (max-width: 1279.98px) {

    .photo-grid {
        gap: 14px;
        width: calc(100vw - 96px);
        max-width: 1184px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {

    .photo-grid {
        gap: 16px;
        padding-bottom: calc(88px + (((100% - 768px) * 4) / 256));
        width: calc(720px + (((100vw - 768px) * 208) / 256));
    }

}

@media screen and (max-width: 767.98px) {

    .photo-grid {
        gap: 12px;
        padding-bottom: calc(64px + (((100% - 320px) * 24) / 448));
        width: calc(288px + (((100vw - 320px) * 432) / 448));
    }

}