.intro {
    padding-top: 92px;
    padding-bottom: 92px;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro {
        padding-top: calc(88px + (((100% - 768px) * 4) / 256));
        padding-bottom: calc(88px + (((100% - 768px) * 4) / 256));
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-top: calc(64px + (((100% - 320px) * 24) / 448));
        padding-bottom: calc(64px + (((100% - 320px) * 24) / 448));
    }
}