.cover {
    padding-top: 92px;
    padding-bottom: 92px;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .cover {
        padding-top: 90px;
        padding-bottom: 88px;
    }

}

@media screen and (max-width: 768px) {

    .cover {
        padding-top: calc(66px + (((100vw - 320px) * 24) / 448));
        padding-bottom: calc(64px + (((100vw - 320px) * 24) / 448));
    }

}