.cover__title {
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    max-width: 560px;
    z-index: 1;

}

@media screen and (max-width: 768px) {

    .cover__title {
        font-size: calc(32px + (((100vw - 320px) * 40) / 448));
        line-height: calc(35px + (((100vw - 320px) * 41) / 448));
        padding-bottom: calc(16px + (((100vw - 320px) * 16) / 448));
        max-width: calc(288px + (((100vw - 320px) * 272) / 448));
    }
    
}