.place__website {
    align-self: flex-end;
    padding-bottom: 48px;
    width: 484px;
}  

@media screen and (min-width:1024px) and (max-width: 1280px) {

    .place__website {
        width: calc(456px + (((100vw - 1024px) * 28) / 256));
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .place__website {
        width: calc(352px + (((100vw - 768px) * 104) / 256));
    }

}

@media screen and (max-width: 767.98px) {

    .place__website {
        width: calc(288px + (((100vw - 320px) * 432) / 448));
        margin: 0 auto;
        padding-bottom: 32px;
    }
    
}